<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Leadtools.Formats.Raster.Common" version="22.0.0.5" targetFramework="net472" />
  <package id="Leadtools.Image.Processing" version="22.0.0.5" targetFramework="net472" />
  <package id="Leadtools.Kernel" version="22.0.0.5" targetFramework="net472" />
  <package id="Leadtools.Pdf" version="22.0.0.5" targetFramework="net472" />
  <package id="Leadtools.Twain" version="22.0.0.5" targetFramework="net472" />
  <package id="Leadtools.Viewer.Controls.WinForms" version="22.0.0.5" targetFramework="net472" />
</packages>